{% if conferences %}
    <ul>
        {% for conference in conferences %}
            <li>
                <h3>
                    <a href="{{ path('conferences.show', {'conference': conference.id.value}) }}">{{ conference.name.value }}</a>
                </h3>
                <p>
                    {{ 'From ' | t }}
                    {{ conference.start_date.value }}
                    {{ 'To ' | t }}
                    {{ conference.end_date.value }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No conferences found.</p>
{% endif %}
